*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial;
}

div{
    background-color: blue;
    display: flex;
    justify-content: center;
}
ul{
    display: flex;
    list-style: none;
}

a{ 
color: wheat;
text-decoration: none;
margin: 40px;
}
